h1 {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
  border-color: darkcyan;
}

.section {
  border: 2px solid blue;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
}

.resultado {
  border: 2px solid orange;
  background-color: lightsalmon;
}

.card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
}

.resultado2 {
  border: 2px solid orange;
  background-color: lightsalmon;
  border-radius: 15px;
  padding: 2%;
  backdrop-filter: invert(80%);
}

.resultado2::before {
  background-color: rgba(0,0,0,0.9);
}

.temp {
  font-family: Roboto, Verdana, Tahoma, sans-serif;
  font-size: 6vw;
  text-align: left; 
font-weight: bold; 
background: #000; 
-webkit-background-clip: text; 
-moz-background-clip: text; 
background-clip: text; 
color: transparent; 
text-shadow: 0px 3px 3px rgba(255,255,255,0.2),0px -1px 1px rgba(0,0,0,0.3)
}

.desc {
  font-family: Roboto, Verdana, Tahoma, sans-serif;
  font-size: 5vw;
  text-transform: capitalize;
  text-align: left; 
  font-weight: bold; 
  background: #202020; 
  -webkit-background-clip: text; 
  -moz-background-clip: text; 
  background-clip: text; 
  color: transparent; 
  text-shadow: 0px 3px 3px rgba(255,255,255,0.2),0px -1px 1px rgba(0,0,0,0.3)
}

.data_extra {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 3vw;
}

.sen_term {
  font-weight: bolder;
}

.nubes {
  background-image: url("https://picsum.photos/id/38/400/500");
}

.lluvia {
  background-image: url("https://picsum.photos/id/171/400/500");
}

.nieve {
  background-image: url("https://picsum.photos/id/559/400/500");
}

.nubes_disp {
  background-image: url("https://picsum.photos/id/29/1280/960");
}

.cielo_claro {
  background-image: url("https://picsum.photos/id/16/1280/960");
  .resultado2 {
    background-image: url("https://picsum.photos/id/16/1280/960");
    border: darkcyan 2px solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 2%;
  }
}

.soleado {
  background-image: url("https://picsum.photos/id/789/1280/960");

}

.nieve {
  background-image: url("https://picsum.photos/id/790/1280/960");
}

.muy_nuboso {
  background-image: url("https://picsum.photos/id/38/400/500");
}


@media only screen and (max-width: 380px) {
  .cielo_claro {
    background-image: url("https://picsum.photos/id/16/480/360");
    .resultado2 {
      background-image: url("https://picsum.photos/id/16/480/360");
      border: darkcyan 2px solid;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      padding: 2%;
    }
  }}

